
<section class="section">
    <div class="container">
    <h2 class="title">Posts</h2>

    <% if @posts.blank? %>
        <article class="message is-warning">
        <div class="message-header">
            <p>Warning</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            Sorry there are any posts unitil right now
        </div>
        </article>      
    <% end %>
    <% @posts.each do |post| %>
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <h3 class="title is-4"><%= link_to post.title,post_path(post) %></h3>
                    </div>
                </div>
            </div>

            <div class="content">
                <%= post.content %>
            </div>
        </div>

    <% end %>
    
    </div>

</section>